.icons {
  margin-bottom: 1.5rem;
}
.icons a{
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  background: url(images/social.jpg) no-repeat 0 0;
  margin-right: 7px;
}
.icons a.vk {
  background-position: -32px 0;
}
.icons a.in {
  background-position: -64px 0;
}
